.circular-text {
  transform-origin: center;
  &__svg-wrapper {
    &_behind {
      position: relative;
      z-index: 1;
    }
    &_front {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      text {
        fill: none !important;
        stroke: var(--color-neutral-contrast);
        stroke-width: .005;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .circular-text {
    display: none;
  }
}
