.scroll-progress-header {
  width: 100%;
  height: 1px;
  background-color: var(--color-neutral-main--light);
  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  &__current-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--color-neutral-contrast--dark);
    transition: width 1s var(--transition-elastic--in-out);
  }
}
