.body {
  font-family: var(--font-primary);
  background-color: var(--color-neutral-main);
  color: var(--color-neutral-contrast);
  font-weight: 400;
  max-width: 100vw;
  overflow-x: hidden;
  &_lock {
    overflow: hidden;
  }
  &[data-theme="light"] {
    @include theme-light;
  }
  &[data-theme="projectThemeOfNikitaEfremov"] {
    @include projectThemeOfNikitaEfremov;
  }
  &[data-theme="projectThemeOfLimitedCharm"] {
    @include projectThemeOfLimitedCharm;
  }
  &[data-theme="projectThemeOfStudio57"] {
    @include projectThemeOfStudio57;
  }
  &[data-theme="projectThemeOfPanto"] {
    @include projectThemeOfPanto;
  }
  &[data-theme="projectThemeOfTennis"] {
    @include projectThemeOfTennis;
  }
  &[data-theme="projectThemeOfKolyanKovsh"] {
    @include projectThemeOfKolyanKovsh;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  position: relative;
  overflow: hidden;
}

.text-line {
  overflow: hidden;
  display: block;
  &__container {
    display: block;
  }
}
