.app-contact {
  padding: min(4vw, 100px) 0;
  &__container {
    display: grid;
    grid-template-columns: 7fr 5fr;
  }
  &__introductory-content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    max-width: 600px;
    font-size: min(14vw, 80px);
    font-weight: 500;
    text-transform: uppercase;
  }
  &__title-let-talk {
    color: var(--color-primary);
  }
  &__description {
    text-transform: uppercase;
    font-size: clamp(1.563rem, 1.125rem + 2.33vw, 2rem); // от 25(300) до 32(600)
    max-width: 400px;
    font-weight: 500;
    margin-top: min(2vw, 50px);
    color: var(--color-neutral-additional);
  }

  @media (max-width: 1024px) {
    &__container {
      grid-template-columns: 12fr;
      gap: 50px;
    }
  }
}